@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,400;1,500;1,800;1,900&display=swap');
@import "dart-sass/reset.scss";
@import "dart-sass/libs/responsive.scss";

$color1: #0C0E0D ;
$color2: #0c0e0df1;
$color3: #00BAFF;

body{
    background-color: rgb(236, 236, 236);
    font-family: 'Poppins', sans-serif;
}

//display flex générique, à @extend dans les attributs directement 
%dflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
//-----------------


header{

    height: 120px;
    background-color:$color1;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    padding : 0px 20px 0px 20px;
    font-size: 1.2vw;
    //font-style: italic;

    & .logo a{
        display: flex;
        height: 100%;
        width: 200px;
        //background-color: rgb(22, 75, 25);
    }

    & .accueil{
        @extend %dflex; 
        width: 500px;
        height: 100%;
        //background-color: burlywood;
        justify-content: space-around;
    
        & a{
            text-decoration: none;
            color: white;
            margin: 30px;
        }
       
        & p {
            color: white;
        }
    }

    & .search_bar{
        //background-color: rgb(189, 118, 52);
        @extend %dflex; 
        & .border{
            border: 2px white solid;
            border-radius: 2em;
            padding: 3px;
            width: 220px;
            display: flex;
            
        }
        & input {
            background-color: transparent;
            padding: 5px;
            border: none;
            outline: none;
            color: white;
            width: 80%;
        }
        & input::placeholder{
            color: rgba(255, 255, 255, 0.596);
            padding: 10px;
            font-size: 1vw;
        }

        & button{
            background-color: transparent;
            border : none; 
            outline: none;
            color: white;
            width: 20%;
        }
    }

    & .burger{
        display: none;

        & i{
            color: white;
        }
    }

    & .panier{

        & p{
            color: white; 
        }
    }

}

.nav{
    
    @extend %dflex; 
    background-color: $color2;
    width: 100%;
    padding : 15px;
    text-transform: uppercase;
    font-weight: 300;
    font-style: italic;
    font-size: 1.2vw;
    position: sticky;
    top: 0 ;

    & .liste_nav{
        //background-color: rgb(147, 178, 34);
        @extend %dflex; 
        width: 800px;
        justify-content: space-around;
    }
    & a{
        text-decoration: none;
        color: floralwhite;
        transition: .5s;
    }
    & a:hover{
        color: #00BAFF;
    }

}

/* On test une nav responsive */ 

@media #{$medium-down} { // Pour les écrans inférieur à 1024px 

    header{
    
        & .logo a{
            display: flex;
            height: 100%;
            width: 125px;
            //background-color: rgb(22, 75, 25);
        }
        & .accueil{ 
            width: 425px;
        }    
        & .search_bar{
            & .border{
                width: 130px;
            }
        }
    }    
}

@media #{$light-down} {
    header{
        display: flex;
        align-items: center;

        & .accueil{
            display: none;
        }

        & .search_bar{
            display: none;
        }

        & .burger{
            display: block;
        }
    }
}