@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,400;1,500;1,800;1,900&display=swap');
@import "dart-sass/reset.scss";
@import "dart-sass/libs/responsive.scss";

$color1: #0C0E0D ;
$color2: #1a1f1cf1;
$color3: #00BAFF;

body{
    background-color: rgb(168, 158, 158);
    font-family: 'Poppins', sans-serif;
}

//display flex générique, à @extend dans les attributs directement 
%dflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
//-----------------


header{

    height: 120px;
    background-color:$color1;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    padding : 0px 20px 0px 20px;
    font-size: 1rem;
    //font-style: italic;

    & .logo a{
        display: flex;
        height: 100%;
        width: 200px;
        //background-color: rgb(22, 75, 25);
    }

    & .accueil{
        @extend %dflex; 
        width: 700px;
        height: 100%;
        //background-color: burlywood;
        justify-content: space-around;
    
        & a{
            text-decoration: none;
            color: white;
            margin: 30px;
            text-align: center;
        }
       
        & p {
            color: white;
        }
    }

    & .search_bar{
        //background-color: rgb(189, 118, 52);
        @extend %dflex; 
        & .border{
            border: 2px white solid;
            border-radius: 2em;
            padding: 3px;
            width: 220px;
            display: flex;
            
        }
        & input {
            background-color: transparent;
            padding: 5px;
            border: none;
            outline: none;
            color: white;
            width: 80%;
        }
        & input::placeholder{
            color: rgba(255, 255, 255, 0.596);
            padding: 10px;
            font-size: 1;
        }

        & button{
            background-color: transparent;
            border : none; 
            outline: none;
            color: white;
            width: 20%;
        }
    }

    & .burger{
        display: none;

        & i{
            color: white;
        }
    }
    & .menu-burger{
        display: none
    }

    & .panier{

        & p{
            color: white; 
        }
    }

}

.nav{
    
    @extend %dflex; 
    background-color: $color2;
    width: 100%;
    padding : 15px;
    text-transform: uppercase;
    font-weight: 300;
    font-style: italic;
    font-size: 0.8rem;
    position: sticky;
    top: 0 ;

    & .liste_nav{
        //background-color: rgb(147, 178, 34);
        @extend %dflex; 
        width: 800px;
        justify-content: space-around;
    }
    & a{
        text-decoration: none;
        color: floralwhite;
        transition: .5s;
    }
    & a:hover{
        color: #00BAFF;
    }

}

/* On test une nav responsive */ 

@media #{$medium-down} { // Pour les écrans inférieur à 1024px 

    header{
        font-size: 0.8rem;
        & .logo a{
            display: flex;
            height: 100%;
            width: 125px;
            //background-color: rgb(22, 75, 25);
        }
        & .accueil{ 
            width: 425px;
        }    
        & .search_bar{
            & .border{
                width: 130px;
            }
        }
    }    
}

@media #{$light-down} {
    header{
        display: flex;
        align-items: center;

        & .accueil{
            display: none;
        }

        & .search_bar{
            display: none;
        }

        & .burger{
            display: block;
  
        }
        & .burger:hover{
            background-color: rgb(44, 43, 43);
            color: black;
  
        }
        & .menu-burger{
           
                display: none;

        }

    }






}

// -----------------------page d'accueil index.php

#slider { 
    width: 100%;
     overflow: hidden;

    & figure{
        position: relative; 
        width: 500%;
        margin: 0;
        padding: 0;
        font-size: 0;
        text-align: left;
        animation: 30s slidy infinite;
    }
    & figure img{
        width: 20%; height: auto; float: left; 
    }

} 
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}




.section_accueil{

    @extend %dflex; 
    width: 100vw;


    & #titre_et_affichage_articles{
        @extend %dflex; 
        flex-direction: column;
        width: 80%;
        background-color: #00BAFF;



        & h1{
            background-color: burlywood;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: bold;
            width: 100%;
            margin-top: 50px;

            & span{

                font-style: italic;
                font-weight: lighter;
            }
        }

        & #div_article_avant{
            @extend %dflex; 
            flex-wrap: wrap;

            & div{
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            & div a{
                @extend %dflex; 
                flex-direction: column;
                justify-content: space-between;
                width: 300px;
                height: 370px;
                text-align: center;
                text-decoration: none;
                color: #000;

                background-color: brown;

            }
        }
    }


    & #affichage_pub{
        @extend %dflex; 
        width: 80%;
        background-color: chartreuse;

        & a{
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 80px;
            margin-bottom: 80px;

            & img{
                height: 600px;
            }
        }
    }


}





// ----------------------------------fin page accueil




.user_connecte{

    @extend %dflex;
    width: 100vw;
    height: 80vh;
  

    & div{
        @extend %dflex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(231, 231, 231);
        width: 300px;
        height: 200px;
    }
    & div p{
        margin-top: 20px;
        font-size: 1.2rem;
    }
    & button{
        margin-bottom: 20px;
    }


}
