<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique</title>
    <link rel="stylesheet" href="../style/dart-sass/style.css">
</head>
<body>
    

<header>

    <div class="logo">
        <a href=""><img src="../medias/logo.png" alt=""></a>
    </div>

     <div class="accueil dflex">
        <a href="">ACCUEIL</a>
        <p>|</p>
        <a href="">INSCRIPTION</a>
        <p>|</p>
        <a href="">MON COMPTE</a>
    </div>

    <div class="search_bar dflex">
        <input type="search" aria-label="Search through site content" >
        <button>Search</button>
    </div>

</header>



<nav class="nav dflex">

        <ul class="liste_nav dflex">
            
            <li><a href="">Raquettes</a></li>
            <li><a href="">Sacs</a></li>
            <li><a href="">Balles</a></li>
            <li><a href="">Accessoires</a></li>

        </ul>

</nav>













</body>
</html>