<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boutique</title>
        <link rel="stylesheet" href="../style/dart-sass/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        

        <header>

            <div class="logo">
                <a href=""><img src="../medias/logo.svg" alt=""></a>
            </div>

            <div class="accueil">
                <a href="">ACCUEIL</a>
                <p>|</p>
                <a href="">INSCRIPTION</a>
                <p>|</p>
                <a href="">CONNEXION</a>
            </div>

            <div class="search_bar">
                <div class="border">
                    <input type="search" aria-label="Search through site content" placeholder="Rechercher..." >
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
<!-- https://www.w3schools.com/howto/howto_js_mobile_navbar.asp -->
            <div class="burger">
                <i class="fa fa-align-justify fa-3x"></i>
                <div class="accueil">
                    <a href="">ACCUEIL</a>
                    <p>|</p>
                    <a href="">INSCRIPTION</a>
                    <p>|</p>
                    <a href="">CONNEXION</a>
                </div>
            </div>

        </header>

        <nav class="nav">

            <ul class="liste_nav">
                
                <li><a href="">Raquettes</a></li>
                <li><a href="">Sacs</a></li>
                <li><a href="">Balles</a></li>
                <li><a href="">Accessoires</a></li>

            </ul>

        </nav>



<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->





        <header>

            <div class="logo">
                <a href=""><img src="../medias/logo.svg" alt=""></a>
            </div>

            <div class="accueil">
                <a href="">ACCUEIL</a>
                <p>|</p>
                <a href="">MON COMPTE</a>
                <p>|</p>
                <a href="">PANIER</a>
            </div>

            <div class="search_bar">
                <div class="border">
                    <input type="search" aria-label="Search through site content" placeholder="Rechercher..." >
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <!-- https://www.w3schools.com/howto/howto_js_mobile_navbar.asp -->
            <a class="burger" >
                <i class="fa fa-align-justify fa-3x"></i>
            </a>
            <div class="menu-burger" >
                <a href="">ACCUEIL</a>
          
                <a href="">MON COMPTE</a>
      
                <a href="">PANIER</a>
            </div>

        </header>

        <nav class="nav">

            <ul class="liste_nav">
                
                <li><a href="">Raquettes</a></li>
                <li><a href="">Sacs</a></li>
                <li><a href="">Balles</a></li>
                <li><a href="">Accessoires</a></li>

            </ul>

        </nav>
        
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->





<header>

    <div class="logo">
        <a href=""><img src="../medias/logo.svg" alt=""></a>
    </div>

    <div class="accueil">
        <a href="">ACCUEIL</a>
        <p>|</p>
        <a href="">MON COMPTE</a>
        <p>|</p>
        <a href="">PANIER</a>
        <p>|</p>
        <a href="">ADMIN</a>
    </div>

    <div class="search_bar">
        <div class="border">
            <input type="search" aria-label="Search through site content" placeholder="Rechercher..." >
            <button><i class="fa fa-search"></i></button>
        </div>
    </div>
    <!-- https://www.w3schools.com/howto/howto_js_mobile_navbar.asp -->
    <a class="burger" >
        <i class="fa fa-align-justify fa-3x"></i>
    </a>
    <div class="menu-burger" >
        <a href="">ACCUEIL</a>
  
        <a href="">MON COMPTE</a>

        <a href="">PANIER</a>
    </div>

</header>

<nav class="nav">

    <ul class="liste_nav">
        
        <li><a href="">Raquettes</a></li>
        <li><a href="">Sacs</a></li>
        <li><a href="">Balles</a></li>
        <li><a href="">Accessoires</a></li>

    </ul>

</nav>
    </body>
</html>